<div
  class="container gallery-container d-flex flex-column align-items-center justify-content-center vh-100"
>
  <div class="w-100 d-flex align-items-center mb-2">
    <span class="fw-bold"
      >Photos {{ currentIndex + 1 }}/{{ images.length }}</span
    >
  </div>
  <div
    #carouselElement
    id="carouselExample"
    class="carousel slide w-100"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner rounded shadow">
      <div
        *ngFor="let img of images; let i = index"
        class="carousel-item"
        [class.active]="i === 0"
      >
        <img [src]="img" class="d-block w-100 gallery-img responsive-img" />
      </div>
    </div>
    <div class="carousel-indicators">
      <button
        *ngFor="let img of images; let i = index"
        type="button"
        data-bs-target="#carouselExample"
        [attr.data-bs-slide-to]="i"
        [ngClass]="{
          'carousel-dot': true,
          active: i === currentIndex
        }"
        [attr.aria-label]="'Slide ' + (i + 1)"
        (click)="goToSlide(i)"
      ></button>
    </div>
  </div>
</div>
